<%= javascript_include_tag "application", "players_show" %>
<% provide(:title, @player.name) %>
<div class="row" style="margin-top:75px; margin-left:20px;">
	<p><%= @player.name %></p>
	<div id="points">
		<%= @player.draft_class.each {|x| x} %>
	</div>
</div>