
<% provide(:title, @player.name) %>


<script>
	var chartOptions = {
				        chart: {
				            type: 'column',
				            renderTo: 'player-points'
				        },
				        title: {
				            text: 'World\'s largest cities per 2014'
				        },
				        subtitle: {
				            text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'Population (millions)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
				        },
				        series: [{
				            name: 'Population',
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    };

		//chartOptions['series'][0]['data'] = [['Shanghai', 23.7],
          //      ['Lagos', 16.1]];

	$(document).ready(function() {
		$.ajax({
			type: 'GET',
			url: '/players/1',
			dataType: 'json',
			success: function(json, textStatus, jqXHR) {
				console.log(json.data)
				chartOptions['series'][0]['data'] = json.data;
			}
		});
		
        chart = new Highcharts.chart(chartOptions);

	}); 

</script>


<div class="row" style="margin-top:75px; margin-left:20px;">
	<p><%= link_to @player.name, players_path(@player.id) %></p>
	<div id="player-points">
	</div>
</div>