<script>
	$(function () { 
    var myChart = Highcharts.chart('points', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
</script>

<div class="row" style="margin-top:75px; margin-left:20px;">
	<p><%= @player.name %></p>
	<div id="points">

	</div>
</div>