@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

/* universal */


/* mixins, variables, etc. */

$font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
$grayMediumLight: #eaeaea;
body {
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

th.dt-center,
td.dt-center {
  text-align: center;
}

@media (min-width: 1700px) {
  .container {
    width: 1600px;
  }
}

#groups-sidebar {
  //background-color: #F5F5F5;
  background-color: #E0E0E0;
}

.center-block {
  float: none;
}

#login-div {
  margin-top: 5em;
}

.panel-default>.group-header {
  //background-color: #CFD8DC;
  color: #263238;
}

.navbar-default {
  background-color: #1976D2;
  border-color: transparent;
  border-radius: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #CFD8DC;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ECEFF1;
}

.panel-group {
  margin-top: 5em;
}

.table-groups {
  margin-top: 5em;
}

.full-height-div {
  height: 100vh;
  background-color: #E0E0E0;
  padding-right: 0px;
  /*background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 2px,
    #EEE 2px,
    #EEE 4px
  ),
  linear-gradient(
    to bottom,
    #E0E0E0,
    #E0E0E0
    );*/
}


/* table condensed */

.table-condensed {
  margin-right: 10px;
  margin-left: 0px;
}

.table-condensed>thead>tr>th {
  color: black;
}

.table-condensed>tbody>tr>td {
  color: black;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  border: none;
}

.align-table-content {
  text-align: center;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #424242;
  color: #fafafa;
}

.group-content {
  margin-top: 5em;
 // -webkit-box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
 // -moz-box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
 // box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
}

.group-content>.panel-heading {
  background-color: white;
}

.panel-body {
  padding: 0px;
}

.invisible-panel {
  display: none;
  border-bottom: none;
}

th {
  font-weight: 500;
}

.tonights-opp {
  color: red;
}