<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        
        <nav>
          <ul class="nav navbar-nav nabar-left">
            <li><%= link_to "NHL Pool Tracker", root_path, id: "logo" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Teams", teams_path %></li>
            <li><%= link_to "Players", root_path %></li>
            <li><%= link_to "Groups", groups_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>