<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">NHL Pool tracker</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "Players", root_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Teams", teams_path %></li>
      </ul>
    </div>
  </nav>
</div>
